<div class="subject-box">
    <div class="container-fluid">
        <h1 class="text-center">Hello, {{tracker.username}}</h1>
        <div>
            <table class="table">
                <caption style="border: inherit;">
                    <strong>Your Tracked Subjects</strong>
                </caption>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Tracking ID</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="subject in subjects">
                        <td>{{subject.username}}</td>
                        <td>{{subject.trackingId}}</td>
                        <td>{{subject.location}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="deleteSubject(subject.trackingId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-primary" ng-click="addSubjectDialog()">Add New</button>
            <button  type="button" class="btn btn-warning pull-right" ng-click="logout()">Logout</button>
        </div>

    </div>
    </div
