<form id="add-new-user" method="post">
	<div class="modal-content">
		<div class=modal-header>
			<h4>
				<strong>Register a New User</strong>
			</h4>
		</div>
		<div class="modal-body form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">Username:
				</label>
				<div class="col-sm-6">
					<input id="username" name="username" type="text">
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Password:
				</label>
				<div class="col-sm-6">
					<input id="password" name="password" type="password">
				</div>
			</div>

			<div class="form-group">
				<label for="userType" class="col-sm-3 control-label">Select
					Your Role: </label>
				<div class="col-sm-4">
					<select class="form-control" id="userType"
						ng-model="userTypeSelected" name="userType">
						<option ng-repeat="userType in userTypes">{{userType}}</option>
					</select>
				</div>
			</div>

		</div>
		<div class=modal-footer>
			<button class="btn btn-primary" ng-click="modalOk()">OK</button>
			<button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
		</div>
	</div>
</form>
